*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #000000;
    color: #fff ;
}
#header{
    width: 100%;
    height:90px;
    background-size:cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap  ;
}
.logo{
    width: 70px;
    margin-left:15px ;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}
nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: #2c0cce;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}
/*-----------------css for small screen------------*/
nav .fa-solid{
    display: none;
}
.list-group-numbered {
    margin-top: 10px; /* Öğelerin üstündeki boşluğu ayarla */
    margin-bottom: 20px; /* Öğelerin altındaki boşluğu ayarla */
    background: gray   !important  ;
    background-color: gray;
    color: gray;
    border-radius: 15px;
}

.list-group-numbered, .list-group-item {
    padding: 10px; /* Öğe içindeki içeriğin etrafındaki boşluğu ayarla */
    background-color: rgb(187, 178, 178);
        
}
.list-group-item{
    font-size: 16px;
}
img {
    width: 50%; /* Resmin genişliği, sayfanın genişliğinin %50'si kadar olacak */
    max-width: 900px; /* Resmin maksimum genişliği 900 piksel olacak */
    display: block; /* Resmi bir blok öğesi olarak yerleştirir, böylece otomatik olarak diğer içeriklerin üzerine ve altına yerleşir */
    margin: 10px auto; /* Dikey olarak ortalamak için 10 piksel boşluk bırakır */
    border: 1px solid black; /* Resmin etrafına siyah renkte 1 piksel kalınlığında bir kenarlık ekler */
    border-radius: 20px; /* Resmin köşelerini yuvarlar */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Resmin altına hafif bir gölge ekler */
}

    .image-container {
        text-align: center; /* Resimleri yatayda ortalamak için */
    }

    #university-img,
    #door {
        display: inline-block; /* Resimleri yan yana yerleştirmek için inline-block kullanılır */
        vertical-align: middle; /* Resimleri dikeyde ortalamak için */
        margin: 0 20px; /* Sağ ve solunda 5 piksel boşluk bırakır */
        width: 80%; /* Resmin genişliği, container'ın %50'si kadar olacak */
        max-width: 600px; /* Resmin maksimum genişliği 400 piksel olacak */
    }
    .special-heading {
        color: blue; /* Başlık rengini mavi yapar */
        font-size: 24px; /* Başlık boyutunu 24 piksel yapar */
        text-align: center;/* Diğer özel stiller buraya eklenebilir */
        font-family: 'Arial', sans-serif; /* Yazı tipi belirleniyor */
        font-size: 28px; /* Yazı boyutu belirleniyor */
        text-transform: uppercase; /* Yazılar büyük harfe dönüştürülüyor */
        letter-spacing: 1px; /* Harfler arası boşluk belirleniyor */
        margin-bottom: 10px; /* Alt boşluk ekleniyor */ 
    }





@media only screen and (max-width:600px){

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #2c0cce;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.4s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}